@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: theme('colors.text');
    background-color: theme('colors.richBlack');
  }
  p {
    letter-spacing: 0.05em;
    line-height: 1.75;
  }
}

@layer components {
  .section {
    padding-top: 40px;
    padding-bottom: 48px;

    @screen lg {
      padding-top: 60px;
      padding-bottom: 68px;
    }
  }

  /*toc*/
  .prose h2[id='目次'] {
    a {
      display: none;
    }

    & + ul {
      border: 1px solid theme('colors.gray.400');
      display: inline-block;
      border-radius: 4px;
      padding: 8px 28px 8px 8px;

      li {
        a {
          color: theme('colors.gray.200');
          font-size: 15px;
        }
      }

      > li {
        margin-left: 28px;
      }
    }
  }
}
