@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: theme('colors.text');
    background-color: theme('colors.richBlack');
  }

  p {
    line-height: 1.75;
    letter-spacing: 0.05em;
  }
}

@layer components {
  .section {
    padding-top: 40px;
    padding-bottom: 60px;

    @screen lg {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }

  /* toc */
  .prose h2[id='目次'] {
    a {
      display: none;
    }

    & + ul {
      @apply bg-darkBlue/50;

      display: inline-block;
      min-width: min(350px, 100%);
      padding: 8px 28px 8px 8px;
      border: 1px solid theme('colors.gray.400');
      border-radius: 4px;

      li {
        a {
          font-size: 15px;
          color: theme('colors.gray.200');
        }
      }

      > li {
        margin-left: 28px;
      }
    }
  }

  .figure {
    text-align: center;

    img {
      margin-bottom: 0.5rem;
    }

    figcaption {
      display: inline-block;
      font-size: 0.875rem;
      color: theme('colors.gray.400');
      text-align: left;
    }
  }
}
