/**
 cf. https://vercel.com/features/previews
 */

.gradientWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  filter: blur(40px) brightness(0.9);
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.3;
  transition: opacity 1.6s, background-color 0.5s;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-iteration-count: infinite;

  &:nth-of-type(1) {
    top: 40%;
    left: 60%;
    z-index: -2;
    width: 200px;
    height: 200px;
    animation-name: FeaturesGradient1;
    animation-duration: 11s;
  }

  &:nth-of-type(2) {
    top: 60%;
    left: 40%;
    z-index: -1;
    width: 100px;
    height: 100px;
    animation-name: FeaturesGradient2;
    animation-duration: 11s;
    animation-direction: reverse;
  }

  &:nth-of-type(3) {
    top: 50%;
    left: 50%;
    z-index: -3;
    width: 250px;
    height: 250px;
    animation-name: FeaturesGradient3;
    animation-duration: 11s;
  }

  &[data-on-fv='true'] {
    opacity: 0.8;
  }

  &[data-hovering-link='true'] {
    @screen md {
      opacity: 0.8;
    }
  }
}

@keyframes FeaturesGradient1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
  }

  to {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes FeaturesGradient2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg)
      translateX(-10%);
  }

  to {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes FeaturesGradient3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }

  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }

  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }

  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }

  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }

  to {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}
